/*COLORES QUE SE USARAN*/
:root {

    ---principal: #CE43C0;
    ---principal56: #CE43C0bd;
    ---secundario: #4348CE;
    ---blanco: #FFFFFF;
    ---rojo: #FF0000;
    ---rojo67: #FF000067;
    ---rojo35: #FF000035;
    ---negro: #000000;
    ---negro56: #000000bd;
    ---negro33: #00000033;
    }
    
    
    /*FUENTES QUE SE USARAN*/
    
    
    @font-face {
        font-family: agency;
        src: url(./Fuentes/agency_fb.ttf);
    }
    @font-face {
        font-family: time;
        src: url(./Fuentes/times.ttf);
    }
    @font-face {
        font-family: time_bold;
        src: url(./Fuentes/timesbold.ttf);
    }
    @font-face {
        font-family: giorgia;
        src: url(./Fuentes/georgia.ttf);
    }
    @font-face {
        font-family: agency_bold;
        src: url(./Fuentes/agency_fb_bold.ttf);
    }
    
    
    
    
/*----------TITULOS DE ARTICULOS----------*/
    
    
    .encabezado{
        width: 80rem;
        margin-top: 5rem;
        margin-left: 2.2rem;
        margin-bottom: 2rem;
        display:flex;
        justify-content: right;
    }

/*-----------------------MENU---------------------*/

.menu_nav_cat{
    margin-right: 3rem;
}
.menu_nav_cat nav{
    width: 100%;
    color: var(---blanco);
}
.menu_nav_cat a{
    margin: 0rem 2rem 0rem 2rem;
    font-size: 1.113rem;
    color: #FFFFFF;
}
.menu_nav_cat a:hover{
    color: var(---principal);
}
.menu_nav_cat li{
    transition: 0.3s;
    border-radius: 3px;
}
.menu_nav_cat li:hover{
    background-color: var(---rojo67);
}




/*--------------CARD DAVID-------------*/


.conteneddor a:link, .conteneddor a:visited, .conteneddor a:active {
    color:#c6c6c6;
    text-decoration:none;
    font-size: 3rem;

}
.conteneddor a:link:hover, .conteneddor a:visited:hover, .conteneddor a:active:hover {
    color: #c6c6c6;
}

.conteneddor .btn_agregar{
    position: relative;
    font-size: 2rem;
    margin-top: 1.5rem;
    padding: 1rem 2rem 1rem 2rem ;
    left: 12%;
    background-color: var(---principal);
    border: none;
    transition: 0.3s;
}

.conteneddor .btn_agregar:hover{
    background-color: var(---rojo);
    color: var(---negro);
    box-shadow: 2px 2px 5px var(---negro);
}

