/*COLORES QUE SE USARAN*/
:root {

    ---principal: #CE43C0;
    ---principal56: #CE43C0bd;
    ---secundario: #4348CE;
    ---blanco: #FFFFFF;
    ---rojo: #FF0000;
    ---rojo67: #FF000067;
    ---rojo35: #FF000035;
    ---negro: #000000;
    ---negro56: #000000bd;
    ---negro33: #00000033;
    }
    
    
    /*FUENTES QUE SE USARAN*/
    
    
    @font-face {
        font-family: agency;
        src: url(./Fuentes/agency_fb.ttf);
    }
    @font-face {
        font-family: time;
        src: url(./Fuentes/times.ttf);
    }
    @font-face {
        font-family: time_bold;
        src: url(./Fuentes/timesbold.ttf);
    }
    @font-face {
        font-family: giorgia;
        src: url(./Fuentes/georgia.ttf);
    }
    @font-face {
        font-family: agency_bold;
        src: url(./Fuentes/agency_fb_bold.ttf);
    }
    
    
    /*TODO EL HTML*/
    
    html{
        font-family: agency;
        background-image: url(./img/Fondo\ PNG\ 1.png);
        background-repeat: repeat;
        background-size: 85rem;
    }
    
    
    
/*----------TITULOS DE ARTICULOS----------*/
    
    
.encabezado{
        width: 80rem;
        margin-top: 5rem;
        margin-left: 2.2rem;
        margin-bottom: 2rem;
        display:flex;
        justify-content: right;
}


/*----------------------------------------------*/

/*--------------FORMULARIO----------------*/

.container_form{
    padding: 2rem 58rem 4rem 3rem;
}
form .col-12 button{
    margin-top: 1rem;
    margin-left: 3.9rem;
    background-color: #2ce426;
    color: #000000;
    border-color: #4a8f48;
}
form .col-12 button:hover{
    background-color: var(---principal);
    border-color: var(---principal);
}
form .col-13 button{
    margin-top: -4.13rem;
    margin-left: 8.7rem;
    background-color: #d1e426;
    color: #000000;
    border-color: #888f48;
}
form .col-13 button:hover{
    background-color: var(---principal);
    border-color: var(---principal);
}





/*--------------DATA-GRID CATEGORIA----------------*/
.container_tabla_cat{
    padding: 0rem 2rem 10rem 24rem;
    margin-top: -15.7rem;
    text-align: center;
}
.container_tabla_cat td{
    font-size: 1.1rem;
}
.container_tabla_cat th{
    font-family: agency_bold;
    font-size: 1.8rem;
}
.container_tabla_cat button{
    border: none;
    background-color: transparent;
} 
.container_tabla_cat img{
    width: 2rem;
}
.table{
    text-align: center;
    box-shadow: 4px 4px 8px var(---principal);
    border-top: none;
}

/*--------------BOTÓN----------------*/
.container-boton{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 90%;
    left: 15%;
}

.container-boton a{
    padding: 1rem 2rem 1rem 2rem;
    font-family: agency_bold;
    font-size: 2rem;
    opacity: 0.68;
    transition: 0.3s;
    border: none;
}

.container-boton a:hover{
    background-color: var(---principal);
    box-shadow: 4px 4px 5px var(---secundario);
    opacity: 1; 
}

