/*COLORES QUE SE USARAN*/
:root {

    ---principal: #CE43C0;
    ---principal56: #CE43C0bd;
    ---secundario: #4348CE;
    ---blanco: #FFFFFF;
    ---rojo: #FF0000;
    ---rojo67: #FF000067;
    ---rojo35: #FF000035;
    ---negro: #000000;
    ---negro56: #000000bd;
    ---negro33: #00000033;
    }
    
    
    /*FUENTES QUE SE USARAN*/
    
    
    @font-face {
        font-family: agency;
        src: url(./Fuentes/agency_fb.ttf);
    }
    @font-face {
        font-family: time;
        src: url(./Fuentes/times.ttf);
    }
    @font-face {
        font-family: time_bold;
        src: url(./Fuentes/timesbold.ttf);
    }
    @font-face {
        font-family: giorgia;
        src: url(./Fuentes/georgia.ttf);
    }
    @font-face {
        font-family: agency_bold;
        src: url(./Fuentes/agency_fb_bold.ttf);
    }
    
    


    

    
/*----------TITULOS DE ARTICULOS----------*/
    
    
.encabezado{
        width: 80rem;
        margin-top: 5rem;
        margin-left: 2.2rem;
        margin-bottom: 2rem;
        display:flex;
        justify-content: right;

}



    /* PRODUCTO COMPRAR (Selector de Imagen) */

.container .img_container {
    height: 21.875rem;
    width: 28.125rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    margin-left: 6rem;
}
.container .img_container .main_img {
    width: 100%;
    height: 100%;
    margin-left: 3rem;
    border-radius: 0.2rem;
    border-style: groove;
    border-color: var(---principal);
    object-fit: cover;
}
.container .thumbneil_container {
    height: 5rem;
    display: flex;
    margin-left: 7rem;
    /*justify-content: left;*/
    
}
.container .thumbneil_container .thumbnail {
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    border-style: groove;
    border-color: var(---principal);
    border-radius: 0.2rem; /*hacer que las esquinas de la imagen, se vuelvan mas redondos*/
    cursor: pointer; /*Un evento de cursor, cambia a selecctor*/
    object-fit: cover; /*hacer que la imagen se ajuste bien sin deformación*/
    opacity: 0.7; /*Opacidad*/
    transition: .3s; /*Tracsicion de opacidad*/
}
.container .thumbneil_container .thumbnail:hover {
    opacity: 1; /*opacidad*/
}
.active {
    opacity: 1 !important; /*El "!important" para hacer prioridad*/
    box-shadow: 0rem 0.313rem 0.313rem var(---secundario);
}


    /* PRODUCTO COMPRAR (Información) */

    .tabla_info_titulo{
        display: flex;
        justify-content: right;
        font-size: 2.2rem;
        font-family: agency_bold;
        margin-right: 5.5rem;
        margin-bottom: 0.1rem;
    }
    .tabla_info_titulo p{
        margin-bottom: 0.1rem;
    }
    .tabla_informacion{
        float: right;
        border: 1px solid var(---negro33);
        border-right: none;
        border-left: none;
        margin-right: 5rem;
    }
    .tabla_informacion h1{
        text-align: center;
        font-family: agency_bold;
        font-size: 3.5rem;
    }
    .tabla_informacion p{
        text-align: center;
        color: var(---negro56);
        font-size: 1.5rem;
    }
    .tabla_informacion button{
        background-color: transparent;
        border: none;
    }
    .tabla_informacion .icono_fav{
        width: 5rem;
        height: 5rem;
    }
    .tabla_informacion .icono_compra{
        width: 28rem;
        height: 6rem;
    }


    /* PRODUCTO COMPRAR (Descripción) */

    .tabla_descripcion{
       margin-left: 1rem;
       position: relative;
       background-color: var(---negro45);
    }
    .fondo_descrip{
        background-color: var(---negro45);
    }
    .tabla_descripcion .img_des {
        width: 27rem;
    }
    .fondo_descrip .img_flecha {
        margin-top: 0.5rem;   
    }
    .tabla_descripcion .p_des{
        font-size: 2rem;
        margin-top: 2.5rem;
    }
    .tabla_descripcion strong {
        position: absolute;
        font-size: 1.9rem;
        margin-top: 0.8rem;        
        margin-left: 1.5rem;
        font-family: agency_bold;
    }
    .fondo_descrip .img_ti_adicional{
        width: 35rem;
        height: 5rem;
        margin-left: 25rem;
    }
    .fondo_descrip .img_cu_adicional {
        width: 80rem;
        margin-left: 1rem;
    }
    .fondo_descrip .img_empty{
        position: absolute;
        margin-top: 2.5rem;
        margin-left: 35rem;
    }
    .container_adicional{
        margin-top: 5rem;
    }




    /*PRODUCTOS RELACIUONADOS*/
    
    
    
    /*ENCABEZADO*/
    .relacionado{
    padding-top: 1rem;
    font-size: 5rem;
    }
    
 /*------------------Card David-------------------*/

/*-------------------------------------------------------------------*/


.galeria .t1{

    display: table-cell;
    text-align: center;
    position: relative;
    margin: auto;
}
.galeria .ayy{
    display:flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
}
.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}
.conteneddor{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:3px;
    float: none;
}
.conteneddor .image{
    width: 28%;
    position: relative;
    display: table-cell;
    height:370px;
    margin-bottom:5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}
.galeria .h1{

display: table-row;


}



/*----------------------------------------------------------------*/

.image img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:#800080;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}
.overlay button{
    border: none;
    background-color: transparent;
    align-items: center;
}
.overlay h2{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.overlay a{
    text-decoration: none;
}
.overlay p{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    text-decoration:none;
    top: 50%;
    left:50%;
    text-align: center;
    margin-top: 0.5rem;
    
}
.overlay h3{
    color:#d6d6d6;
    font-family: agency_bold;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
}
.overlay h3 strong{
    color: var(---blanco);
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
}
.overlay h3 span{
    color: var(---blanco);
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
}
.overlay input{
    color: #fff;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.image:hover .overlay{
    height:100%;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    .conteneddor{
        width: 95%;
    }
        .ayy {
            width: 95%;
        }
    
}
@media screen and (max-width:700px){
    .conteneddor{
        width: 90%;
    }

    .ayy{
        width: 90%;
    }

    .conteneddor .image{
        width: 48%;
    }
}
@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }


    .conteneddor{
        width: 98%;
    }

    .ayy{
        width: 98%;
    }

    .t1{
        width: 80%;
    }


    .conteneddor .image{
        width: 80%;
    }
}
@keyframes cambia {
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

    
    
