/*COLORES QUE SE USARAN*/
:root {

    ---principal: #CE43C0;
    ---principal56: #CE43C0bd;
    ---secundario: #4348CE;
    ---blanco: #FFFFFF;
    ---rojo: #FF0000;
    ---rojo67: #FF000067;
    ---rojo35: #FF000035;
    ---negro: #000000;
    ---negro56: #000000bd;
    ---negro33: #00000033;
    }
    
    
    /*FUENTES QUE SE USARAN*/
    
    
    @font-face {
        font-family: agency;
        src: url(./Fuentes/agency_fb.ttf);
    }
    @font-face {
        font-family: time;
        src: url(./Fuentes/times.ttf);
    }
    @font-face {
        font-family: time_bold;
        src: url(./Fuentes/timesbold.ttf);
    }
    @font-face {
        font-family: giorgia;
        src: url(./Fuentes/georgia.ttf);
    }
    @font-face {
        font-family: agency_bold;
        src: url(./Fuentes/agency_fb_bold.ttf);
    }
    
    
    
    
/*----------TITULOS DE ARTICULOS----------*/
    
    
.encabezado{
        width: 80rem;
        margin-top: 5rem;
        margin-left: 2.2rem;
        margin-bottom: 2rem;
        display:flex;
        justify-content: right;
}


/*--------------FORMULARIO----------------*/

.container_form{
    padding: 2rem 14rem 4rem 9rem;
}


