/*COLORES QUE SE USARAN*/
:root {

    ---principal: #CE43C0;
    ---principal56: #CE43C0bd;
    ---secundario: #4348CE;
    ---blanco: #FFFFFF;
    ---rojo: #FF0000;
    ---rojo67: #FF000067;
    ---rojo35: #FF000035;
    ---negro: #000000;
    ---negro56: #000000bd;
    ---negro33: #00000033;
}


.button {


    position: absolute;
    background: none;
    border: none;
    display: table-cell;
    justify-content: space-between;
    align-items: flex-end;
    top: 20px;
    left: 1200px;
    background-color: white;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}


/*FUENTES QUE SE USARAN*/


@font-face {
    font-family: agency;
    src: url(/CSS/Fuentes/agency_fb.ttf);
}

@font-face {
    font-family: time;
    src: url(/CSS/Fuentes/times.ttf);
}

@font-face {
    font-family: time_bold;
    src: url(/CSS/Fuentes/timesbold.ttf);
}

@font-face {
    font-family: giorgia;
    src: url(/CSS/Fuentes/georgia.ttf);
}

@font-face {
    font-family: agency_bold;
    src: url(/CSS/Fuentes/agency_fb_bold.ttf);
}






.slider {

    width: 95;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: black;
    top: -1.5rem;

}

.slider ul {

    display: flex;
    padding: 0;
    width: 400%;
    animation: cambia 20s infinite alternate;
    animation-timing-function: ease;

}

.slider li {

    width: 100%;
    list-style: none;
    overflow: hidden;
    position: relative;
}

.slider img {
    width: 100%;
}

.cuadro {
    width: 200px;

}

.suerte h2 {
    font-size: 5rem;
    text-align: center;
    position: center;
    background-color: black;
    width: 100%;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    opacity: 0.8;
    word-wrap: break-word;

}

.suerte input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 5%;

}



.Barra {
    text-align: center;
    float: inline-start;
    padding: 5px;
}



.ButtonB {
    text-align: center;
    float: inline-start;
}

.caja img {
    position: center;
    width: 108%;
    margin-left: -1.5rem;
    margin-right: -1rem;
    
    z-index: 9999;
}

h3 {
    padding-top: 1rem;
    font-size: 3rem;
}


.tabla {
    margin: 0px;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
}

.caja {
    display: table-cell;
    padding: 10px;
    padding: 20px;

}

.caja:nth-child(1) h3 {

    text-align: center;
    color: rgb(95, 7, 7);
    margin-bottom: 30px;

}

.caja:nth-child(2) h3 {

    text-align: center;
    color: rgb(95, 7, 7);
    margin-bottom: 30px;
}

.caja:nth-child(3) h3 {

    text-align: center;
    color: rgb(95, 7, 7);
    margin-bottom: 30px;

}

.caja:nth-child(4) h3 {

    text-align: center;
    color: rgb(95, 7, 7);
    margin-bottom: 30px;
}

.caja:nth-child(1) p {
    background: #051;
    color: black;

}

.caja:nth-child(2) p {
    background: rgb(27, 54, 136);
    color: black;

}


.caja:nth-child(3) p {
    background: #051;
    color: black;

}

.caja:nth-child(4) p {
    background: rgb(27, 54, 136);
    color: black;

}


@media(min-width:768px) {

    .caja p {

        line-height: 30px;
    }

    .caja h3 {

        line-height: 15px;
    }

}

@media(min-width:1024px) {
    .tabla {

        width: 1000px;

    }

    .caja p {

        line-height: 40px;
    }

    @media(min-width:1280px) {
        .tabla {
            width: 1480px;
        }

    }

}




.ks{
    padding: 2rem 0rem 0rem 0rem;
}




.galeria .t1 {

    display: table-cell;
    text-align: center;
    position: relative;
    margin: auto;
}

.galeria .ayy {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.galeria h1 {
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #800080;
    margin-bottom: 40px;
}

.conteneddor {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.conteneddor .image {
    width: 28%;
    position: relative;
    display: table-cell;
    height: 370px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.galeria .h1 {

    display: table-row;


}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(115, 28, 107, .5);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.overlay p {
    color: #fff;
    font-weight: 300;
    font-size: 30px;

    top: 50%;
    left: 150%;
    text-align: center;

}

.overlay button {

    align-items: center;
}

.overlay input {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.image:hover .overlay {
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .conteneddor {
        width: 95%;
    }

    .ayy {
        width: 95%;
    }

}

@media screen and (max-width:700px) {
    .conteneddor {
        width: 90%;
    }

    .ayy {
        width: 90%;
    }

    .conteneddor .image {
        width: 48%;
    }
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 22px;
    }


    .conteneddor {
        width: 98%;
    }

    .ayy {
        width: 98%;
    }

    .t1 {
        width: 80%;
    }


    .conteneddor .image {
        width: 80%;
    }
}


@keyframes cambia {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

/*--------------CARD DAVID-------------*/


.conteneddor a:link, .conteneddor a:visited, .conteneddor a:active {
    color:#c6c6c6;
    text-decoration:none;
    font-size: 3rem;

}
.conteneddor a:link:hover, .conteneddor a:visited:hover, .conteneddor a:active:hover {
    color: #c6c6c6;
}

.conteneddor .btn_agregar{
    position: relative;
    font-size: 2rem;
    margin-top: 1.5rem;
    padding: 1rem 2rem 1rem 2rem ;
    left: 12%;
    background-color: var(---principal);
    border: none;
    transition: 0.3s;
}

.conteneddor .btn_agregar:hover{
    background-color: var(---rojo);
    color: var(---negro);
    box-shadow: 2px 2px 5px var(---negro);
}
